@use 'base/variables' as v;

.alerta{
    padding: calc(v.$separacion / 4);
    color: v.$blanco;
    display: block;
    margin-bottom: 2rem;
    text-align: center;
    font-weight: v.$bold;
    text-transform: uppercase;
    transition: 0.5s ease;

    &.error{
        background-color: v.$blanco;
        color: v.$rojo;
        border-left: .5rem solid v.$rojo;
    }

    &.exito{
        background-color: lighten(v.$verde,60%);
        border-left: .5rem solid v.$verde;
        color: v.$verde;
    }
}