@use 'base/variables' as v;
@use 'base/mixins' as m;

.listado-servicios{
    display: grid;
    gap: 2rem;

    @include m.tablet{
        @include m.grid(2,2rem);
    }

    .servicio{
        background-color: v.$grisMedio;
        padding: 3rem;
        border-radius: 1rem;
        transition-property: transform;
        transition-duration: 300ms;
        text-align: center;

        &.seleccionado{
            background-color: v.$naranja;
            
            p{
                color: v.$blanco;
            }

            .precio-servicio{
                color: v.$grisOscuro;
            }
        }

        &:hover{
            transform: scale3d(0.9,1.2,0.3);
            cursor: pointer;
        }

        p{
            color: v.$blanco;
            margin: 0 0 calc(v.$separacion / 4) 0;
        }

        .precio-servicio{
            color: v.$naranja;
            font-weight: v.$bold;
            font-size: 3rem;
            margin: 0;
        }
    }
}